// partial for different screen sizes

// small screens (portrait)
@media (min-width: 400px) {

    body {
        height: 100vh;
    }
}

// large screens
@media (max-width: 400px) {

    .container {
        margin-top: 10%;
        height: 100%;
    }

    body {
        overflow: auto;
    }

}

// landscape mode
@media (orientation: landscape) and (max-width: 1000px) {

    body {
        overflow: auto;
    }

    a {
        margin: 0;
    }

    .card {
        width: 500px;
        display: flex;
    }

    .link-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}