// partial for variables (colors, fonts, etc.)

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// colors
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 20%);
$DarkGrey: hsl(0, 0%, 12%);
$Black: hsl(0, 0%, 0%);
$OffBlack: hsl(0, 0%, 8%);
$LightBlue: hsl(188, 100%, 90%)